.table-page-container {
  padding: 20px;
  width: 90vw;
}

.info-card {
  background-color: var(--color-card-neutral);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.table-card {
  overflow-x: auto;
  width: 100%;
}

.url-link {
  text-decoration: none;
  font-size: 13px;
}

.url-link:hover {
  text-decoration: underline;
}
